spring:
  profiles:
    active: "ollama"
  application:
    name: chat-server
  datasource:
    url: "jdbc:postgresql://localhost:5432/postgres"
    username: "postgres"
    password: "password"
    driver-class-name: org.postgresql.Driver
  ai:
    mcp:
      client:
        sse:
          connections:
            booking-tool:
              url: http://localhost:8081

server:
  port: 8080

logging:
  level:
    org.springframework.ai.chat.client.advisor: INFO
