name: chat-server

on:
  push:
    branches: [ main ]
    paths:
      - .github/workflows/ci-chat-server.yml
      - chat-server/**
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/ci-chat-server.yml
      - chat-server/**

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Ollama cache
        uses: actions/cache@v4
        with:
          path: ./chat-server/.ollama
          key: ollama-${{ runner.os }}
          restore-keys: |
            ollama-${{ runner.os }}

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: gradle
          cache-dependency-path: chat-server/build.gradle.kts

      - name: Build
        working-directory: chat-server
        run: ./gradlew build --no-daemon --info

      - name: Ollama cache permissions
        run: sudo chown -R $USER:$USER ./chat-server/.ollama
