name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Ollama cache
        uses: actions/cache@v4
        with:
          path: ./chat-server/.ollama
          key: ollama-${{ runner.os }}-${{ hashFiles('./chat-server/.ollama/models/manifests/**') }}
          restore-keys: |
            ollama-${{ runner.os }}-

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Build mcp-server
        working-directory: mcp-server
        run: ./gradlew build --no-daemon

      - name: Build chat-server
        working-directory: chat-server
        run: ./gradlew build --no-daemon

      - name: Ollama check cache
        run: |
          ls -lR ./chat-server/src
          ls -lR ./chat-server/.ollama
